body {
    color: #333;
    display: flex;
    background: #EEE;
}
body, html {
    height: 100%;
}

h1, ul {
    padding: 0;
    margin: 0;
}

#centering {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

projects {
    width: 400px;
    padding: 20px;
    display: flex;
    border: 2px solid #FFF;
    background: linear-gradient(0deg, #FFF,#EEE);
    border-radius: 1px;
    flex-direction: column;
    box-shadow: 1px 1px 10px #CCC;
}
