doctype html
head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/normalize.css", media="screen")
    link(rel="stylesheet", href="css/markdown.css", media="screen")
    link(rel="stylesheet", href="css/master.css", media="screen")
    block css
    title Nodewiki
body
    block content
    block scripts
    script(src="js/riot.min.js")
    block mount
