extends ./layout.jade 

block content 
    #centering: projects
    
append scripts 
    script(type="riot/tag",src="tags/projects.tag")
    
append mount 
    script.
        riot.mount('projects',{projects : !{JSON.stringify(projects)} });
